<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
        
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <link rel="stylesheet" href="/Content/locate.css" />
        <link rel="stylesheet" href="/Content/geosearch.css" />

        <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        <script src="/Scripts/Vendors/l.control.geosearch.js"></script>
        <script src="/Scripts/Vendors/l.geosearch.provider.openstreetmap.js"></script>
        <script src="/Scripts/Vendors/Control.Loading.js"></script>
        <script src="/Scripts/Vendors/L.Control.Locate.js"></script>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body class="left">
        
        <div id='header'>
            <h1>Store Locator</h1>
        </div>

        @RenderBody()
        

        @Scripts.Render("~/bundles/jquery")
    </body>

</html>
